.todo-container {
  h3 {
    padding-bottom: 10px;
  }

  p {
    margin: 0 10px;
    flex-grow: 1;
  }
}

.checked {
  text-decoration: line-through;
  opacity: 0.5;
}

.goals-container {
  max-height: calc(40vh - 60px);
  overflow-y: auto;
}

.goals-container hr {
  margin: 5px 0;
}

.list-item {
  display: flex;
  align-items: center;
  padding: 10px;
}

.delete-button:hover {
  cursor: pointer;
}

.delete-button:hover {
  cursor: pointer;
}

.input-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  margin-bottom: 20px;

  input {
    width: 100%;
    height: 30px;
    padding: 20px;
    box-sizing: border-box;
  }

  .add-button {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
  }
}
