.todo-container {
  h3 {
    padding-bottom: 10px;
  }

  p {
    margin: 0 10px;
    flex-grow: 1;
  }

  button {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    margin-left: 10px;
  }
}

.checked {
  text-decoration: line-through;
  opacity: 0.5;
}

.goals-container {
  max-height: calc(40vh - 60px);
  overflow-y: auto;
}

.goals-container hr {
  margin: 5px 0;
}

.list-item {
  display: flex;
  align-items: center;
  padding: 10px;
}

.input-container {
  input {
    padding: 10px;
    width: 80%;
    margin: 0 5px 20px 0;
  }

  button {
    background-color: transparent;
    border: 1px solid var(--body_color);
    border-radius: 5px;
    width: 40px;
    height: 40px;
  }
}
