* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f8f8f8;
}

h1,
h2,
h3 {
  color: rgb(54, 54, 54);
}

h1 {
  font-weight: normal;
  padding: 20px;
}

@import './todo';
